fastapi==0.115.11
librosa==0.11.0
matplotlib==3.10.1
numpy==1.26.4
scikit-learn==1.6.1
scipy==1.15.2
soundfile==0.13.1
tensorflow==2.19.0
torch==2.6.0
uvicorn==0.34.0
multipart==1.2.1
unidecode>=1.3.2
deepfilternet==0.5.6
vinorm==2.0.7
underthesea==6.8.0
anyascii
pandas>=1.4,<2.0
transformers>=4.33.0
pyyaml>=6.0

